numpy==1.18.2
torch==1.5.0
torchvision==0.6.0
gpytorch==1.1.1
pandas==1.0.3
matplotlib==3.2.1
scipy==1.4.1
scikit-learn==0.22.2
statsmodels==0.11.1
requests==2.23.0
geopandas==0.7.0
rtree==0.9.4
descartes==1.1.0
sacred==0.8.1
seml==0.2.4
slurmjobs==0.0.15
tabulate==0.8.7
ipysheet==0.4.4
ipywidgets==7.5.1 
seaborn==0.10.1
librosa==0.8.0
git+git://github.com/jmaronas/pytorch_library.git@version-1.5.0
